@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  color: black;
  background-color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}






